@{
    ViewData["Title"] = "Home Page";
}

    <!-- Main Container -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Rai's MMA Experience</h1>
        <div class="text-center">
            <img src="mma.jpeg" class="img-fluid mb-3" alt="MMA Image" />
            <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        </div>

        <div class="text-center">
            <p class="lead">Want to learn MMA? Come on down to the gym and we'll see what we can do with you.</p>
            <p class="lead">We teach skills in wrestling, jiu jitsu, and kickboxing.</p>
        </div>

        <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EF0qoTZghW4?si=5R-VePzr1c_XGXIy&amp;clip=Ugkxe2mgqoMuy4aPdoGPfLeXnaD-wbszZTyP&amp;clipt=EJHeBBjlmAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="text-center">
            <br />
            <h4 class="lead">""Fighting is about a strategy. MMA is not all about brutality.""</h4>
            <h4>- Royce Gracie</h4>
        </div>

        <br />
        <h3 class="text-center mb-4">MMA and Integration</h3>
        <p class="lead">
            Mixed Martial Arts (MMA) is the ultimate melting pot of combat sports, a dynamic and rapidly evolving discipline that combines wrestling, Jiu-Jitsu, kickboxing, and various other martial arts into a comprehensive fighting system. MMA athletes are the epitome of versatility, as they must be proficient in numerous techniques ranging from the striking prowess of kickboxing to the intricate ground game of Jiu-Jitsu, and the tactical control of wrestling. The ability to transition seamlessly from one style to another is crucial in MMA, making it one of the most challenging and exciting sports in the modern era. As fighters train across different martial arts, they develop a well-rounded skill set that allows them to adapt to any combat situation, embodying the true spirit of martial arts: the synthesis of mind, body, and technique.
        </p>

        <h3 class="text-center mb-4">Wrestling</h3>
        <p class="lead">
            Wrestling is a primary skill to have in order to be well rounded fighter and to own the ground game. There are many different scenarios in a fight involving many positions. The role that wrestling plays in MMA is crucial. Wrestling allows you to gain advantageous position. This often taking involves forcing your opponent to the ground and pinning in a position where you take minimal damage whilst your opponent is vulnerable to many attacks such as punches and submissions.
        </p>

        <h3 class="text-center mb-4">Jiu-Jitsu</h3>
        <p class="lead">
            Jiu-Jitsu, particularly Brazilian Jiu-Jitsu (BJJ), is a martial art that focuses on ground fighting and submission holds. It involves controlling your opponent on the ground and applying techniques to force them into submission via joint locks or chokeholds. Jiu Jitsu also trains you to defend such submissions so that you know how to counter your opponents who have a strong submission game over other skills like striking.
        </p>

        <h3 class="text-center mb-4">Kickboxing</h3>
        <p class="lead">
            Kickboxing the most popular of the combat sports listed combines elements of traditional boxing with martial arts techniques, integrating both punches and kicks. This combat sport is known in the MMA world as striking. You'll learn to defend yourself against your opponents strikes by maintaining a safe distance whilst being able to close this distance to be able to create angles and set up attacks of your own. You'll learn combinations to find vulnerabilites in your opponents defense either setting up your opponent to be taken down or finishing the fight with a knockout blow. Striking techniques are also taken from the famous striking martial art Muay Thai where you'll also learn to grapple with your opponent on the fight and throw dangerous blows with your knees and elbows.
        </p>
        <br />
        <br />
        <br />
    </div>
