@{
    ViewData["Title"] = "Pricing";
}

<!-- Rai Martin Section 002 -->

<!-- Main Container -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <!-- Form -->
            <form>

                <!-- numHours -->
                <div class="form-group">
                    <label for="numHours">Number of Hours:</label>
                    <input type="number" class="form-control" id="numHours" placeholder="Enter number of hours">
                </div>
                <br />

                <!-- Fixed hourlyRate -->
                <div class="form-group">
                    <label for="hourlyRate">Hourly Rate ($):</label>
                    <input type="text" class="form-control" id="hourlyRate" value="50" readonly>
                </div>
                <br />

                <!-- Submit button -->
                <button type="button" class="btn btn-primary" id="calculateTotal">Calculate Total</button>
                <br /><br />

                <!-- Output totalCost -->
                <div class="form-group">
                    <label for="totalCost">Total Cost ($):</label>
                    <input type="text" class="form-control" id="totalCost" readonly>
                </div>

            </form>

        </div>
    </div>
</div>


